<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Cadastrar</span>
					</li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/usuarios/listar}" role="button">
					<span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
					<span>Listar</span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form th:action="${usuario.id == null} ? @{/usuarios/salvar} : @{/usuarios/editar}" th:object="${usuario}" method="POST">
				
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="username">Nome de usuário</label>
						<input type="text" class="form-control" id="username" th:placeholder="Usuário" autofocus="autofocus" th:field="*{username}" th:classappend="${#fields.hasErrors('username')} ? is-invalid"/>

						<div class="invalid-feedback">
							<span th:errors="*{username}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="password">Senha</label>
						<input type="password" class="form-control" id="password" placeholder="Senha" autofocus="autofocus" th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? is-invalid"/>
						                               
						<div class="invalid-feedback">
							<span th:errors="*{password}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<input type="radio" class="form-control" id="role" name="role" autofocus="autofocus" th:field="*{role}" value="ROLE_USER" checked/>
					</div>

					<!-- <div class="form-group col-md-6">
						<label th:text="#{usuario.role.label}" for="role"></label> 
						<select id="role" class="form-control" th:field="*{role}"
							th:classappend="${#fields.hasErrors('role')} ? is-invalid">
							<option checked value="ROLE_USER">ROLE_USER</option>
						</select>

						<div class="invalid-feedback">
							<span th:errors="*{role}"></span>
						</div>
					</div> -->
				</div>

				<input type="hidden" id="id" th:field="*{id}"/>
				<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
			</form>
		</div>
	</section>
</body>
</html>