<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<link rel="icon" th:href="@{/image/favicon.png}"/>

	<!-- Bootstrap core CSS -->
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet"/>
	
	<!-- Custom styles for this template -->
	<link th:href="@{/css/main.css}" rel="stylesheet"/>

	<title>Termos de Uso</title>
</head>
<body class="text-center">
	<h1 class="h3 mb-3 font-weight-normal">Termos de Uso</h1>

	<div>
		<a class="btn btn-primary" type="button" href="javascript:history.back()">
			<span>Voltar a página anterior</span>
		</a>
	</div>
</body>
</html>