<!DOCTYPE html>
<html 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
		layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8"/>
	<title>Menu</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<div class="container" style="text-align: center;">
			<h1>Calendário de Eventos</h1>
			<img alt="" th:src="@{/image/image.png}" style="width:500px;">
		</div>

	</section>

	<!-- <div layout:fragment="content" th:remove="tag">
		<h1>
			<span th:text="#{home.hello}"></span>
			<span th:inline="text">[[${#httpServletRequest.remoteUser}]]!</span>
		</h1>
		
		<p>
			<a th:href="@{/}">
				<span th:text="#{home.message.1}"></span>
			</a>
		</p>
		
		<div sec:authorize="hasRole('ADMIN')">
			<p>
				<a th:href="@{/admin}">
					<span th:text="#{home.message.2}"></span>
				</a>
			</p>
		</div>

		<div sec:authorize="hasRole('USER')">
			<p>
				<a th:href="@{/user}">
					<span th:text="#{home.message.3}"></span>
				</a>
			</p>
		</div>
	</div> -->
</body>
</html>