<!DOCTYPE html>
<html 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	xmlns:th="http://www.thymeleaf.org"
      	layout:decorate="~{fragments/layout}">
<head>
	<title>Index</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
	    <h1>Olá Spring Security</h1>
	    <p>Esta é uma página pública. Você apenas pode acessar as páginas seguras após se autenticar no sistema.</p>
	    <ul>
	        <li>
	        	<a th:href="@{/home}">
	        		<span>Acessar uma página segura.</span>
	        	</a>
	        </li>
	    </ul>
	</div>
</body>
</html>